# METHODOLOGIES I :

 ##   (A). Classification
 

##  (i). Data Acquisition Exercises

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from pydataset import data

from acquire import get_titanic_data
from acquire import get_iris_data
from acquire import get_telco_data
from acquire import prep_iris


import acquire


# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer


import warnings
warnings.filterwarnings('ignore')

import env

NOTE: Exercise Number 1 - 4 are all github setup
---------------------------------------------------------

## (4). In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [8]:
df_iris = pd.DataFrame(data('iris'))
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [9]:
# Rows & Columns
df_iris.shape

(150, 5)

In [10]:
# Columns
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [11]:
# Columns DataTypes
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [12]:
# Numeric Summary
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## (5). Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

-  Make sure that the spreadsheet is publicly visible under your sharing settings.

In [13]:
url = 'https://docs.google.com/spreadsheets/d/13mVTE4FD048lF84rWBCm1LfMHddA6gqivf0PhTaylB8/edit?usp=sharing'

export_url = url.replace('/edit?usp=','/export?format=csv#gid=')

df_google_sheets = pd.read_csv(export_url)

df_google_sheets.head()

,Unnamed: 0,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,3.187128,Yes,True,True,True,True,True,1,175.650

In [14]:
# From local directory file

# df_google_sheets = pd.read_csv('~/Documents/Table1_CustDetails.csv')
# df_google_sheets.head()

-  Assign the first 100 rows to a new dataframe, df_excel_sample

In [15]:
df_excel_sample = df_google_sheets.head(100)
df_excel_sample

,Unnamed: 0,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,3.187128,Yes,True,True,True,True,True,1,175.650
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,8.234150,No,True,False,True,True,True,2,320.425
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,72.053327,No,True,False,True,True,True,1,4006.975
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,63.529829,No,False,False,True,True,True,1,2731.225
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,7.061203,No,True,False,True,True,True,0,194.275
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,65.869541,No,True,False,True,True,True,3,3024.175
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,54.436947,No,False,False,False,True,False,0,1252.875
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,72.403682,No,True,False,True,True,True,3,4286.775
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,5.097897,No,True,False,True,True,True,1,210.225
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,71.680652,No,True,False,True,True,True,0,3681.275
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,56.827969,No,True,False,False,True,False,0,1302.575
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,71.534204,No,True,False,True,True,True,3,3472.575
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,32.542041,No,True,False,False,True,False,3,1027.225
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,1.000000,No,True,False,True,True,True,0,72.100
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,44.521531,Yes,False,True,True,True,True,0,1427.100
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,1.000000,Yes,False,True,False,True,False,0,25.100
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,51.837302,No,True,False,True,False,False,1,665.750
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,12.918172,Yes,True,True,True,True,True,1,654.850
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,22.088955,No,True,False,True,True,True,3,966.850
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,2.881612,No,True,False,True,False,False,0,38.525
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,3.751843,Yes,True,True,True,False,False,3,48.350
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,1.000000,Yes,True,True,False,True,False,3,30.500
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,54.549180,No,True,False,True,True,True,3,2880.225
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,53.460784,No,False,False,True,False,False,3,555.500
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,24.073980,No,False,False,True,False,False,0,245.725
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,70.908629,No,True,False,True,False,False,3,708.300
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,35.609101,No,False,False,True,True,True,3,1669.375
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,44.053790,No,True,False,True,False,False,1,460.675
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,68.585060,No,False,False,True,True,True,1,4028.975
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,65.372263,No,True,False,True,False,False,0,681.975
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,20.949239,No,False,False,False,True,False,3,432.400
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,42.635458,No,True,False,True,False,False,2,547.625
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,55.229399,No,True,False,True,True,True,1,2524.700
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,59.078100,No,True,False,True,True,True,1,2846.200
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,11.059113,No,True,False,True,False,False,3,122.400
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,25.465347,No,False,False,True,True,True,3,1002.375
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,1.849746,Yes,False,True,True,True,True,0,70.175
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,26.585038,No,True,False,True,True,True,0,1078.575
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,24.729412,No,False,False,True,False,False,3,328.050
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,26.152597,No,False,False,True,True,True,3,836.300
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,27.610000,No,False,False,False,True,False,2,643.725
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,74.177334,No,False,False,True,True,True,1,3200.675
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,14.146744,No,True,False,True,True,True,0,389.650
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,35.586902,No,True,False,True,True,True,0,1815.625
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,1.000000,No,False,False,True,True,True,0,44.300
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,27.681529,No,False,False,True,True,True,0,1350.900
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,68.523692,No,False,False,True,True,True,0,2824.400
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,37.692846,No,True,False,True,True,True,3,1933.675
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,40.126707,No,True,False,True,True,True,0,1882.575
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,38.630144,Yes,False,True,True,True,True,0,2070.675
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,11.792632,Yes,True,True,True,True,True,0,607.650
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,6.247269,No,True,False,True,True,True,1,182.450
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,29.278295,No,False,False,True,True,True,0,976.475
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,27.309278,No,False,False,True,False,False,0,274.600
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,69.741889,No,False,False,True,True,True,1,3706.875
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,57.154479,No,True,False,True,True,True,1,3181.050
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,57.227634,No,False,False,True,True,True,1,1464.425
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,16.976190,No,False,False,True,True,True,0,641.750
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,70.541810,No,True,False,True,True,True,1,4149.425
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,1.000000,Yes,False,True,True,False,False,0,19.850
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,1.000000,Yes,False,True,True,True,True,2,99.750
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,30.457158,No,False,False,True,True,True,3,1477.700
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,15.883260,No,False,False,True,True,True,3,766.500
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,48.125074,Yes,False,True,True,True,True,1,2071.850
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,71.174249,No,True,False,False,True,False,1,2102.075
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,33.895862,No,True,False,True,True,True,0,1876.525
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,9.411028,No,True,False,True,False,False,1,103.850
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,20.837230,Yes,False,True,True,True,True,1,1214.150
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,36.039801,Yes,False,True,False,True,False,3,744.500
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,25.567016,No,True,False,True,True,True,0,1139.725
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,49.403955,No,False,False,False,True,False,0,892.150
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,6.922817,Yes,True,True,True,True,True,0,292.550
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,62.732690,No,True,False,True,True,True,3,2807.425
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,15.332511,Yes,False,True,True,True,True,0,827.650
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,25.043668,No,True,False,False,True,False,2,596.400
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,71.287375,No,False,False,True,True,True,1,3421.000
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,42.197561,No,False,False,True,False,False,3,442.775
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,66.855705,No,False,False,True,True,True,0,3033.150
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,2.106087,Yes,True,True,True,True,True,0,133.950
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,43.661323,No,True,False,True,True,True,0,1671.450
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,11.725905,Yes,True,True,True,True,True,0,571.075
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,69.433834,No,False,False,True,True,True,1,3872.100
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,1.000000,Yes,True,True,True,True,True,0,80.200
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,3.211587,Yes,True,True,True,False,False,0,41.800
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,2.108467,No,True,False,True,True,True,1,140.425
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,27.773858,No,True,False,True,True,True,0,1243.750
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,25.184729,No,False,False,True,False,False,0,265.775
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,39.003951,No,True,False,True,True,True,1,2025.200
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,24.942978,Yes,False,True,True,True,True,0,1228.400
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,1.000000,Yes,True,True,True,True,True,0,70.900
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,21.267528,Yes,False,True,True,True,True,1,603.450
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,73.948651,No,True,False,True,True,True,0,4305.800
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,24.051151,No,True,False,True,False,False,0,244.875
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,18.012666,No,True,False,True,True,True,1,825.625
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,72.881657,No,False,False,True,False,False,3,936.450
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,33.618744,No,False,False,True,True,True,1,1902.300

-  Print the number of rows of your original dataframe

In [16]:
df_google_sheets.shape[0]

7049

-  Print the first 5 column names

In [17]:
df_google_sheets.columns[:6]

Index(['Unnamed: 0', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service'],
      dtype='object')

-  Print the column names that have a data type of object

In [18]:
object_columns = df_google_sheets.select_dtypes(include=['object']).columns
object_columns

# num_cols = df_google._get_numeric_data().columns
# num_cols

Index(['Unnamed: 0', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

-  Compute the range for each of the numeric variables.

In [19]:
max_int_dtype = df_google_sheets.select_dtypes(include ='int64').max()
min_int_dtype = df_google_sheets.select_dtypes(include ='int64').min()

print(f'Min range: {min_int_dtype} Max range: {max_int_dtype}')

Min range: is_senior_citizen    0
phone_service        0
internet_service     0
contract_type        0
pather_dependants    0
dtype: int64 Max range: is_senior_citizen    1
phone_service        2
internet_service     2
contract_type        2
pather_dependants    3
dtype: int64

## (6). Download your spreadsheet exercises google sheet as an excel file (File  Download  Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [20]:
df_excel = pd.read_excel('~/Documents/codeup-data-science/classification-exercises/Table1_CustDetails.xlsx')
df_excel.head()

,,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,3.187128,Yes,True,True,True,True,True,1,175.650

-  Assign the first 100 rows to a new dataframe, df_excel_sample

In [21]:
df_excel_sample = df_excel.head(100)
df_excel_sample.head()

,,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,tenure,churn,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,pather_dependants,average_montly_charges
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,9.044207,No,True,False,True,True,True,3,329.450
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,9.055092,No,False,False,True,True,True,0,301.150
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,3.800406,Yes,False,True,True,True,True,0,177.375
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,12.631122,Yes,False,True,True,True,True,1,667.925
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,3.187128,Yes,True,True,True,True,True,1,175.650

-  Print the number of rows of your original dataframe

In [22]:
df_excel.shape[0]

7049

Print the first 5 column names

In [23]:
df_excel.columns[:6]

Index([' ', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service'],
      dtype='object')

-  Print the column names that have a data type of object

In [24]:
df_excel.select_dtypes(include=['object'])

                  gender partner dependents      payment_type churn
0     0002-ORFBO  Female     Yes        Yes      Mailed check    No
1     0003-MKNFE    Male      No         No      Mailed check    No
2     0004-TLHLJ    Male      No         No  Electronic check   Yes
3     0011-IGKFF    Male     Yes         No  Electronic check   Yes
4     0013-EXCHZ  Female     Yes         No      Mailed check   Yes
...          ...     ...     ...        ...               ...   ...
7044  9987-LUTYD  Female      No         No      Mailed check    No
7045  9992-RRAMN    Male     Yes         No  Electronic check   Yes
7046  9992-UJOEL    Male      No         No      Mailed check    No
7047  9993-LHIEB    Male     Yes        Yes      Mailed check    No
7048  9995-HOTOH    Male     Yes        Yes  Electronic check    No

[7049 rows x 6 columns]

-  Compute the range for each of the numeric variables.

In [25]:
df_excel.select_dtypes(include=['int64'])

      pather_dependants
0                     3
1                     0
2                     0
3                     1
4                     1
...                 ...
7044                  0
7045                  1
7046                  0
7047                  3
7048                  3

[7049 rows x 1 columns]

## (7). Read the data from this google sheet into a dataframe, df_google.


-  Print the first 3 rows

In [26]:
url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'

export_url = url.replace('/edit?usp=','/export?format=csv#gid=')

df_google = pd.read_csv(export_url)
df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Print the number of rows and columns

In [27]:
df_google.shape[0]

891

-  Print the column names

In [28]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Print the data type of each column

In [29]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

-  Print the summary statistics for each of the numeric variables

In [30]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [31]:
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

-  Print the unique values for each of your categorical variables

In [32]:
# Is object same as categorical data?

df_google.select_dtypes(include=['object']).nunique()

Name        891
Sex           2
Ticket      681
Cabin       147
Embarked      3
dtype: int64

In [33]:
# Numeric Columns

num_cols = df_google._get_numeric_data().columns
num_cols

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

## Make a new python module, acquire.py to hold the following data aquisition functions:

-  (1). Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [34]:
get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

-  (2). Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [35]:
get_iris_data()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1
3,3,4,4.6,3.1,1.5,0.2,1
4,4,5,5.0,3.6,1.4,0.2,1
5,5,6,5.4,3.9,1.7,0.4,1
6,6,7,4.6,3.4,1.4,0.3,1
7,7,8,5.0,3.4,1.5,0.2,1
8,8,9,4.4,2.9,1.4,0.2,1
9,9,10,4.9,3.1,1.5,0.1,1
10,10,11,5.4,3.7,1.5,0.2,1
11,11,12,4.8,3.4,1.6,0.2,1
12,12,13,4.8,3.0,1.4,0.1,1
13,13,14,4.3,3.0,1.1,0.1,1
14,14,15,5.8,4.0,1.2,0.2,1
15,15,16,5.7,4.4,1.5,0.4,1
16,16,17,5.4,3.9,1.3,0.4,1
17,17,18,5.1,3.5,1.4,0.3,1
18,18,19,5.7,3.8,1.7,0.3,1
19,19,20,5.1,3.8,1.5,0.3,1
20,20,21,5.4,3.4,1.7,0.2,1
21,21,22,5.1,3.7,1.5,0.4,1
22,22,23,4.6,3.6,1.0,0.2,1
23,23,24,5.1,3.3,1.7,0.5,1
24,24,25,4.8,3.4,1.9,0.2,1
25,25,26,5.0,3.0,1.6,0.2,1
26,26,27,5.0,3.4,1.6,0.4,1
27,27,28,5.2,3.5,1.5,0.2,1
28,28,29,5.2,3.4,1.4,0.2,1
29,29,30,4.7,3.2,1.6,0.2,1
30,30,31,4.8,3.1,1.6,0.2,1
31,31,32,5.4,3.4,1.5,0.4,1
32,32,33,5.2,4.1,1.5,0.1,1
33,33,34,5.5,4.2,1.4,0.2,1
34,34,35,4.9,3.1,1.5,0.2,1
35,35,36,5.0,3.2,1.2,0.2,1
36,36,37,5.5,3.5,1.3,0.2,1
37,37,38,4.9,3.6,1.4,0.1,1
38,38,39,4.4,3.0,1.3,0.2,1
39,39,40,5.1,3.4,1.5,0.2,1
40,40,41,5.0,3.5,1.3,0.3,1
41,41,42,4.5,2.3,1.3,0.3,1
42,42,43,4.4,3.2,1.3,0.2,1
43,43,44,5.0,3.5,1.6,0.6,1
44,44,45,5.1,3.8,1.9,0.4,1
45,45,46,4.8,3.0,1.4,0.3,1
46,46,47,5.1,3.8,1.6,0.2,1
47,47,48,4.6,3.2,1.4,0.2,1
48,48,49,5.3,3.7,1.5,0.2,1
49,49,50,5.0,3.3,1.4,0.2,1
50,50,51,7.0,3.2,4.7,1.4,2
51,51,52,6.4,3.2,4.5,1.5,2
52,52,53,6.9,3.1,4.9,1.5,2
53,53,54,5.5,2.3,4.0,1.3,2
54,54,55,6.5,2.8,4.6,1.5,2
55,55,56,5.7,2.8,4.5,1.3,2
56,56,57,6.3,3.3,4.7,1.6,2
57,57,58,4.9,2.4,3.3,1.0,2
58,58,59,6.6,2.9,4.6,1.3,2
59,59,60,5.2,2.7,3.9,1.4,2
60,60,61,5.0,2.0,3.5,1.0,2
61,61,62,5.9,3.0,4.2,1.5,2
62,62,63,6.0,2.2,4.0,1.0,2
63,63,64,6.1,2.9,4.7,1.4,2
64,64,65,5.6,2.9,3.6,1.3,2
65,65,66,6.7,3.1,4.4,1.4,2
66,66,67,5.6,3.0,4.5,1.5,2
67,67,68,5.8,2.7,4.1,1.0,2
68,68,69,6.2,2.2,4.5,1.5,2
69,69,70,5.6,2.5,3.9,1.1,2
70,70,71,5.9,3.2,4.8,1.8,2
71,71,72,6.1,2.8,4.0,1.3,2
72,72,73,6.3,2.5,4.9,1.5,2
73,73,74,6.1,2.8,4.7,1.2,2
74,74,75,6.4,2.9,4.3,1.3,2
75,75,76,6.6,3.0,4.4,1.4,2
76,76,77,6.8,2.8,4.8,1.4,2
77,77,78,6.7,3.0,5.0,1.7,2
78,78,79,6.0,2.9,4.5,1.5,2
79,79,80,5.7,2.6,3.5,1.0,2
80,80,81,5.5,2.4,3.8,1.1,2
81,81,82,5.5,2.4,3.7,1.0,2
82,82,83,5.8,2.7,3.9,1.2,2
83,83,84,6.0,2.7,5.1,1.6,2
84,84,85,5.4,3.0,4.5,1.5,2
85,85,86,6.0,3.4,4.5,1.6,2
86,86,87,6.7,3.1,4.7,1.5,2
87,87,88,6.3,2.3,4.4,1.3,2
88,88,89,5.6,3.0,4.1,1.3,2
89,89,90,5.5,2.5,4.0,1.3,2
90,90,91,5.5,2.6,4.4,1.2,2
91,91,92,6.1,3.0,4.6,1.4,2
92,92,93,5.8,2.6,4.0,1.2,2
93,93,94,5.0,2.3,3.3,1.0,2
94,94,95,5.6,2.7,4.2,1.3,2
95,95,96,5.7,3.0,4.2,1.2,2
96,96,97,5.7,2.9,4.2,1.3,2
97,97,98,6.2,2.9,4.3,1.3,2
98,98,99,5.1,2.5,3.0,1.1,2
99,99,100,5.7,2.8,4.1,1.3,2
100,100,101,6.3,3.3,6.0,2.5,3
101,101,102,5.8,2.7,5.1,1.9,3
102,102,103,7.1,3.0,5.9,2.1,3
103,103,104,6.3,2.9,5.6,1.8,3
104,104,105,6.5,3.0,5.8,2.2,3
105,105,106,7.6,3.0,6.6,2.1,3
106,106,107,4.9,2.5,4.5,1.7,3
107,107,108,7.3,2.9,6.3,1.8,3
108,108,109,6.7,2.5,5.8,1.8,3
109,109,110,7.2,3.6,6.1,2.5,3
110,110,111,6.5,3.2,5.1,2.0,3
111,111,112,6.4,2.7,5.3,1.9,3
112,112,113,6.8,3.0,5.5,2.1,3
113,113,114,5.7,2.5,5.0,2.0,3
114,114,115,5.8,2.8,5.1,2.4,3
115,115,116,6.4,3.2,5.3,2.3,3
116,116,117,6.5,3.0,5.5,1.8,3
117,117,118,7.7,3.8,6.7,2.2,3
118,118,119,7.7,2.6,6.9,2.3,3
119,119,120,6.0,2.2,5.0,1.5,3
120,120,121,6.9,3.2,5.7,2.3,3
121,121,122,5.6,2.8,4.9,2.0,3
122,122,123,7.7,2.8,6.7,2.0,3
123,123,124,6.3,2.7,4.9,1.8,3
124,124,125,6.7,3.3,5.7,2.1,3
125,125,126,7.2,3.2,6.0,1.8,3
126,126,127,6.2,2.8,4.8,1.8,3
127,127,128,6.1,3.0,4.9,1.8,3
128,128,129,6.4,2.8,5.6,2.1,3
129,129,130,7.2,3.0,5.8,1.6,3
130,130,131,7.4,2.8,6.1,1.9,3
131,131,132,7.9,3.8,6.4,2.0,3
132,132,133,6.4,2.8,5.6,2.2,3
133,133,134,6.3,2.8,5.1,1.5,3
134,134,135,6.1,2.6,5.6,1.4,3
135,135,136,7.7,3.0,6.1,2.3,3
136,136,137,6.3,3.4,5.6,2.4,3
137,137,138,6.4,3.1,5.5,1.8,3
138,138,139,6.0,3.0,4.8,1.8,3
139,139,140,6.9,3.1,5.4,2.1,3
140,140,141,6.7,3.1,5.6,2.4,3
141,141,142,6.9,3.1,5.1,2.3,3
142,142,143,5.8,2.7,5.1,1.9,3
143,143,144,6.8,3.2,5.9,2.3,3
144,144,145,6.7,3.3,5.7,2.5,3
145,145,146,6.7,3.0,5.2,2.3,3
146,146,147,6.3,2.5,5.0,1.9,3
147,147,148,6.5,3.0,5.2,2.0,3
148,148,149,6.2,3.4,5.4,2.3,3
149,149,150,5.9,3.0,5.1,1.8,3

-  (3). Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join all 4 tables together, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [36]:
get_telco_data().head()

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

-  (4).Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

-  -> Completed on the acquire.py function

# Data Preparation Exercises

1). Use the function defined in acquire.py to load the IRIS DATA.

In [23]:
# USING IRIS DATA (~~~~~~~IRIS Data troubleshoot tables concat. Species name~~~~~~)

get_iris_data()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1
3,3,4,4.6,3.1,1.5,0.2,1
4,4,5,5.0,3.6,1.4,0.2,1
5,5,6,5.4,3.9,1.7,0.4,1
6,6,7,4.6,3.4,1.4,0.3,1
7,7,8,5.0,3.4,1.5,0.2,1
8,8,9,4.4,2.9,1.4,0.2,1
9,9,10,4.9,3.1,1.5,0.1,1
10,10,11,5.4,3.7,1.5,0.2,1
11,11,12,4.8,3.4,1.6,0.2,1
12,12,13,4.8,3.0,1.4,0.1,1
13,13,14,4.3,3.0,1.1,0.1,1
14,14,15,5.8,4.0,1.2,0.2,1
15,15,16,5.7,4.4,1.5,0.4,1
16,16,17,5.4,3.9,1.3,0.4,1
17,17,18,5.1,3.5,1.4,0.3,1
18,18,19,5.7,3.8,1.7,0.3,1
19,19,20,5.1,3.8,1.5,0.3,1
20,20,21,5.4,3.4,1.7,0.2,1
21,21,22,5.1,3.7,1.5,0.4,1
22,22,23,4.6,3.6,1.0,0.2,1
23,23,24,5.1,3.3,1.7,0.5,1
24,24,25,4.8,3.4,1.9,0.2,1
25,25,26,5.0,3.0,1.6,0.2,1
26,26,27,5.0,3.4,1.6,0.4,1
27,27,28,5.2,3.5,1.5,0.2,1
28,28,29,5.2,3.4,1.4,0.2,1
29,29,30,4.7,3.2,1.6,0.2,1
30,30,31,4.8,3.1,1.6,0.2,1
31,31,32,5.4,3.4,1.5,0.4,1
32,32,33,5.2,4.1,1.5,0.1,1
33,33,34,5.5,4.2,1.4,0.2,1
34,34,35,4.9,3.1,1.5,0.2,1
35,35,36,5.0,3.2,1.2,0.2,1
36,36,37,5.5,3.5,1.3,0.2,1
37,37,38,4.9,3.6,1.4,0.1,1
38,38,39,4.4,3.0,1.3,0.2,1
39,39,40,5.1,3.4,1.5,0.2,1
40,40,41,5.0,3.5,1.3,0.3,1
41,41,42,4.5,2.3,1.3,0.3,1
42,42,43,4.4,3.2,1.3,0.2,1
43,43,44,5.0,3.5,1.6,0.6,1
44,44,45,5.1,3.8,1.9,0.4,1
45,45,46,4.8,3.0,1.4,0.3,1
46,46,47,5.1,3.8,1.6,0.2,1
47,47,48,4.6,3.2,1.4,0.2,1
48,48,49,5.3,3.7,1.5,0.2,1
49,49,50,5.0,3.3,1.4,0.2,1
50,50,51,7.0,3.2,4.7,1.4,2
51,51,52,6.4,3.2,4.5,1.5,2
52,52,53,6.9,3.1,4.9,1.5,2
53,53,54,5.5,2.3,4.0,1.3,2
54,54,55,6.5,2.8,4.6,1.5,2
55,55,56,5.7,2.8,4.5,1.3,2
56,56,57,6.3,3.3,4.7,1.6,2
57,57,58,4.9,2.4,3.3,1.0,2
58,58,59,6.6,2.9,4.6,1.3,2
59,59,60,5.2,2.7,3.9,1.4,2
60,60,61,5.0,2.0,3.5,1.0,2
61,61,62,5.9,3.0,4.2,1.5,2
62,62,63,6.0,2.2,4.0,1.0,2
63,63,64,6.1,2.9,4.7,1.4,2
64,64,65,5.6,2.9,3.6,1.3,2
65,65,66,6.7,3.1,4.4,1.4,2
66,66,67,5.6,3.0,4.5,1.5,2
67,67,68,5.8,2.7,4.1,1.0,2
68,68,69,6.2,2.2,4.5,1.5,2
69,69,70,5.6,2.5,3.9,1.1,2
70,70,71,5.9,3.2,4.8,1.8,2
71,71,72,6.1,2.8,4.0,1.3,2
72,72,73,6.3,2.5,4.9,1.5,2
73,73,74,6.1,2.8,4.7,1.2,2
74,74,75,6.4,2.9,4.3,1.3,2
75,75,76,6.6,3.0,4.4,1.4,2
76,76,77,6.8,2.8,4.8,1.4,2
77,77,78,6.7,3.0,5.0,1.7,2
78,78,79,6.0,2.9,4.5,1.5,2
79,79,80,5.7,2.6,3.5,1.0,2
80,80,81,5.5,2.4,3.8,1.1,2
81,81,82,5.5,2.4,3.7,1.0,2
82,82,83,5.8,2.7,3.9,1.2,2
83,83,84,6.0,2.7,5.1,1.6,2
84,84,85,5.4,3.0,4.5,1.5,2
85,85,86,6.0,3.4,4.5,1.6,2
86,86,87,6.7,3.1,4.7,1.5,2
87,87,88,6.3,2.3,4.4,1.3,2
88,88,89,5.6,3.0,4.1,1.3,2
89,89,90,5.5,2.5,4.0,1.3,2
90,90,91,5.5,2.6,4.4,1.2,2
91,91,92,6.1,3.0,4.6,1.4,2
92,92,93,5.8,2.6,4.0,1.2,2
93,93,94,5.0,2.3,3.3,1.0,2
94,94,95,5.6,2.7,4.2,1.3,2
95,95,96,5.7,3.0,4.2,1.2,2
96,96,97,5.7,2.9,4.2,1.3,2
97,97,98,6.2,2.9,4.3,1.3,2
98,98,99,5.1,2.5,3.0,1.1,2
99,99,100,5.7,2.8,4.1,1.3,2
100,100,101,6.3,3.3,6.0,2.5,3
101,101,102,5.8,2.7,5.1,1.9,3
102,102,103,7.1,3.0,5.9,2.1,3
103,103,104,6.3,2.9,5.6,1.8,3
104,104,105,6.5,3.0,5.8,2.2,3
105,105,106,7.6,3.0,6.6,2.1,3
106,106,107,4.9,2.5,4.5,1.7,3
107,107,108,7.3,2.9,6.3,1.8,3
108,108,109,6.7,2.5,5.8,1.8,3
109,109,110,7.2,3.6,6.1,2.5,3
110,110,111,6.5,3.2,5.1,2.0,3
111,111,112,6.4,2.7,5.3,1.9,3
112,112,113,6.8,3.0,5.5,2.1,3
113,113,114,5.7,2.5,5.0,2.0,3
114,114,115,5.8,2.8,5.1,2.4,3
115,115,116,6.4,3.2,5.3,2.3,3
116,116,117,6.5,3.0,5.5,1.8,3
117,117,118,7.7,3.8,6.7,2.2,3
118,118,119,7.7,2.6,6.9,2.3,3
119,119,120,6.0,2.2,5.0,1.5,3
120,120,121,6.9,3.2,5.7,2.3,3
121,121,122,5.6,2.8,4.9,2.0,3
122,122,123,7.7,2.8,6.7,2.0,3
123,123,124,6.3,2.7,4.9,1.8,3
124,124,125,6.7,3.3,5.7,2.1,3
125,125,126,7.2,3.2,6.0,1.8,3
126,126,127,6.2,2.8,4.8,1.8,3
127,127,128,6.1,3.0,4.9,1.8,3
128,128,129,6.4,2.8,5.6,2.1,3
129,129,130,7.2,3.0,5.8,1.6,3
130,130,131,7.4,2.8,6.1,1.9,3
131,131,132,7.9,3.8,6.4,2.0,3
132,132,133,6.4,2.8,5.6,2.2,3
133,133,134,6.3,2.8,5.1,1.5,3
134,134,135,6.1,2.6,5.6,1.4,3
135,135,136,7.7,3.0,6.1,2.3,3
136,136,137,6.3,3.4,5.6,2.4,3
137,137,138,6.4,3.1,5.5,1.8,3
138,138,139,6.0,3.0,4.8,1.8,3
139,139,140,6.9,3.1,5.4,2.1,3
140,140,141,6.7,3.1,5.6,2.4,3
141,141,142,6.9,3.1,5.1,2.3,3
142,142,143,5.8,2.7,5.1,1.9,3
143,143,144,6.8,3.2,5.9,2.3,3
144,144,145,6.7,3.3,5.7,2.5,3
145,145,146,6.7,3.0,5.2,2.3,3
146,146,147,6.3,2.5,5.0,1.9,3
147,147,148,6.5,3.0,5.2,2.0,3
148,148,149,6.2,3.4,5.4,2.3,3
149,149,150,5.9,3.0,5.1,1.8,3

In [4]:
iris = get_iris_data()
iris.head()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1
3,3,4,4.6,3.1,1.5,0.2,1
4,4,5,5.0,3.6,1.4,0.2,1

In [5]:
iris.shape

(150, 7)

In [22]:
get_iris_data()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id
0,0,1,5.1,3.5,1.4,0.2,1
1,1,2,4.9,3.0,1.4,0.2,1
2,2,3,4.7,3.2,1.3,0.2,1
3,3,4,4.6,3.1,1.5,0.2,1
4,4,5,5.0,3.6,1.4,0.2,1
5,5,6,5.4,3.9,1.7,0.4,1
6,6,7,4.6,3.4,1.4,0.3,1
7,7,8,5.0,3.4,1.5,0.2,1
8,8,9,4.4,2.9,1.4,0.2,1
9,9,10,4.9,3.1,1.5,0.1,1
10,10,11,5.4,3.7,1.5,0.2,1
11,11,12,4.8,3.4,1.6,0.2,1
12,12,13,4.8,3.0,1.4,0.1,1
13,13,14,4.3,3.0,1.1,0.1,1
14,14,15,5.8,4.0,1.2,0.2,1
15,15,16,5.7,4.4,1.5,0.4,1
16,16,17,5.4,3.9,1.3,0.4,1
17,17,18,5.1,3.5,1.4,0.3,1
18,18,19,5.7,3.8,1.7,0.3,1
19,19,20,5.1,3.8,1.5,0.3,1
20,20,21,5.4,3.4,1.7,0.2,1
21,21,22,5.1,3.7,1.5,0.4,1
22,22,23,4.6,3.6,1.0,0.2,1
23,23,24,5.1,3.3,1.7,0.5,1
24,24,25,4.8,3.4,1.9,0.2,1
25,25,26,5.0,3.0,1.6,0.2,1
26,26,27,5.0,3.4,1.6,0.4,1
27,27,28,5.2,3.5,1.5,0.2,1
28,28,29,5.2,3.4,1.4,0.2,1
29,29,30,4.7,3.2,1.6,0.2,1
30,30,31,4.8,3.1,1.6,0.2,1
31,31,32,5.4,3.4,1.5,0.4,1
32,32,33,5.2,4.1,1.5,0.1,1
33,33,34,5.5,4.2,1.4,0.2,1
34,34,35,4.9,3.1,1.5,0.2,1
35,35,36,5.0,3.2,1.2,0.2,1
36,36,37,5.5,3.5,1.3,0.2,1
37,37,38,4.9,3.6,1.4,0.1,1
38,38,39,4.4,3.0,1.3,0.2,1
39,39,40,5.1,3.4,1.5,0.2,1
40,40,41,5.0,3.5,1.3,0.3,1
41,41,42,4.5,2.3,1.3,0.3,1
42,42,43,4.4,3.2,1.3,0.2,1
43,43,44,5.0,3.5,1.6,0.6,1
44,44,45,5.1,3.8,1.9,0.4,1
45,45,46,4.8,3.0,1.4,0.3,1
46,46,47,5.1,3.8,1.6,0.2,1
47,47,48,4.6,3.2,1.4,0.2,1
48,48,49,5.3,3.7,1.5,0.2,1
49,49,50,5.0,3.3,1.4,0.2,1
50,50,51,7.0,3.2,4.7,1.4,2
51,51,52,6.4,3.2,4.5,1.5,2
52,52,53,6.9,3.1,4.9,1.5,2
53,53,54,5.5,2.3,4.0,1.3,2
54,54,55,6.5,2.8,4.6,1.5,2
55,55,56,5.7,2.8,4.5,1.3,2
56,56,57,6.3,3.3,4.7,1.6,2
57,57,58,4.9,2.4,3.3,1.0,2
58,58,59,6.6,2.9,4.6,1.3,2
59,59,60,5.2,2.7,3.9,1.4,2
60,60,61,5.0,2.0,3.5,1.0,2
61,61,62,5.9,3.0,4.2,1.5,2
62,62,63,6.0,2.2,4.0,1.0,2
63,63,64,6.1,2.9,4.7,1.4,2
64,64,65,5.6,2.9,3.6,1.3,2
65,65,66,6.7,3.1,4.4,1.4,2
66,66,67,5.6,3.0,4.5,1.5,2
67,67,68,5.8,2.7,4.1,1.0,2
68,68,69,6.2,2.2,4.5,1.5,2
69,69,70,5.6,2.5,3.9,1.1,2
70,70,71,5.9,3.2,4.8,1.8,2
71,71,72,6.1,2.8,4.0,1.3,2
72,72,73,6.3,2.5,4.9,1.5,2
73,73,74,6.1,2.8,4.7,1.2,2
74,74,75,6.4,2.9,4.3,1.3,2
75,75,76,6.6,3.0,4.4,1.4,2
76,76,77,6.8,2.8,4.8,1.4,2
77,77,78,6.7,3.0,5.0,1.7,2
78,78,79,6.0,2.9,4.5,1.5,2
79,79,80,5.7,2.6,3.5,1.0,2
80,80,81,5.5,2.4,3.8,1.1,2
81,81,82,5.5,2.4,3.7,1.0,2
82,82,83,5.8,2.7,3.9,1.2,2
83,83,84,6.0,2.7,5.1,1.6,2
84,84,85,5.4,3.0,4.5,1.5,2
85,85,86,6.0,3.4,4.5,1.6,2
86,86,87,6.7,3.1,4.7,1.5,2
87,87,88,6.3,2.3,4.4,1.3,2
88,88,89,5.6,3.0,4.1,1.3,2
89,89,90,5.5,2.5,4.0,1.3,2
90,90,91,5.5,2.6,4.4,1.2,2
91,91,92,6.1,3.0,4.6,1.4,2
92,92,93,5.8,2.6,4.0,1.2,2
93,93,94,5.0,2.3,3.3,1.0,2
94,94,95,5.6,2.7,4.2,1.3,2
95,95,96,5.7,3.0,4.2,1.2,2
96,96,97,5.7,2.9,4.2,1.3,2
97,97,98,6.2,2.9,4.3,1.3,2
98,98,99,5.1,2.5,3.0,1.1,2
99,99,100,5.7,2.8,4.1,1.3,2
100,100,101,6.3,3.3,6.0,2.5,3
101,101,102,5.8,2.7,5.1,1.9,3
102,102,103,7.1,3.0,5.9,2.1,3
103,103,104,6.3,2.9,5.6,1.8,3
104,104,105,6.5,3.0,5.8,2.2,3
105,105,106,7.6,3.0,6.6,2.1,3
106,106,107,4.9,2.5,4.5,1.7,3
107,107,108,7.3,2.9,6.3,1.8,3
108,108,109,6.7,2.5,5.8,1.8,3
109,109,110,7.2,3.6,6.1,2.5,3
110,110,111,6.5,3.2,5.1,2.0,3
111,111,112,6.4,2.7,5.3,1.9,3
112,112,113,6.8,3.0,5.5,2.1,3
113,113,114,5.7,2.5,5.0,2.0,3
114,114,115,5.8,2.8,5.1,2.4,3
115,115,116,6.4,3.2,5.3,2.3,3
116,116,117,6.5,3.0,5.5,1.8,3
117,117,118,7.7,3.8,6.7,2.2,3
118,118,119,7.7,2.6,6.9,2.3,3
119,119,120,6.0,2.2,5.0,1.5,3
120,120,121,6.9,3.2,5.7,2.3,3
121,121,122,5.6,2.8,4.9,2.0,3
122,122,123,7.7,2.8,6.7,2.0,3
123,123,124,6.3,2.7,4.9,1.8,3
124,124,125,6.7,3.3,5.7,2.1,3
125,125,126,7.2,3.2,6.0,1.8,3
126,126,127,6.2,2.8,4.8,1.8,3
127,127,128,6.1,3.0,4.9,1.8,3
128,128,129,6.4,2.8,5.6,2.1,3
129,129,130,7.2,3.0,5.8,1.6,3
130,130,131,7.4,2.8,6.1,1.9,3
131,131,132,7.9,3.8,6.4,2.0,3
132,132,133,6.4,2.8,5.6,2.2,3
133,133,134,6.3,2.8,5.1,1.5,3
134,134,135,6.1,2.6,5.6,1.4,3
135,135,136,7.7,3.0,6.1,2.3,3
136,136,137,6.3,3.4,5.6,2.4,3
137,137,138,6.4,3.1,5.5,1.8,3
138,138,139,6.0,3.0,4.8,1.8,3
139,139,140,6.9,3.1,5.4,2.1,3
140,140,141,6.7,3.1,5.6,2.4,3
141,141,142,6.9,3.1,5.1,2.3,3
142,142,143,5.8,2.7,5.1,1.9,3
143,143,144,6.8,3.2,5.9,2.3,3
144,144,145,6.7,3.3,5.7,2.5,3
145,145,146,6.7,3.0,5.2,2.3,3
146,146,147,6.3,2.5,5.0,1.9,3
147,147,148,6.5,3.0,5.2,2.0,3
148,148,149,6.2,3.4,5.4,2.3,3
149,149,150,5.9,3.0,5.1,1.8,3

2). Drop the species_id and measurement_id columns.

In [66]:
iris_col_drop = ['measurement_id', 'species_id', 'Unnamed: 0']

iris = iris.drop(columns = iris_col_drop)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

3). Rename the species_name column to just species.

In [67]:
iris = iris.rename(columns = {'species_name': 'species'})
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2
8           4.4          2.9           1.4          0.2
9           4.9          3.1           1.5          0.1

4). Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [68]:
iris_dummy = pd.get_dummies(iris[['species']], dummy_na = False, drop_first = True)
iris_dummy

KeyError: "None of [Index(['species'], dtype='object')] are in the [columns]"

In [69]:
# Concat the dummy data with iris data

iris = pd.concat([iris, iris_dummy], axis = 1)

iris.head(5)

NameError: name 'iris_dummy' is not defined

In [12]:
iris = get_iris_data()

5). Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [27]:
iris = acquire.get_iris_data()

def prep_iris(iris):
    
    iris = iris.drop_duplicates()
    
    iris = iris.drop(columns = ['Unnamed: 0'])
    
    iris_dummy = pd.get_dummies(iris[['sepal_width','petal_width']], 
                                      drop_first = [True, True])
    
    iris = pd.concat([iris, iris_dummy], axis = 1)
    
    return iris.drop(columns = ['sepal_width','petal_width'])


prep_iris(iris)

     measurement_id  sepal_length  petal_length  species_id
0                 1           5.1           1.4           1
1                 2           4.9           1.4           1
2                 3           4.7           1.3           1
3                 4           4.6           1.5           1
4                 5           5.0           1.4           1
5                 6           5.4           1.7           1
6                 7           4.6           1.4           1
7                 8           5.0           1.5           1
8                 9           4.4           1.4           1
9                10           4.9           1.5           1
10               11           5.4           1.5           1
11               12           4.8           1.6           1
12               13           4.8           1.4           1
13               14           4.3           1.1           1
14               15           5.8           1.2           1
15               16           5.7           1.5           1
16               17           5.4           1.3           1
17               18           5.1           1.4           1
18               19           5.7           1.7           1
19               20           5.1           1.5           1
20               21           5.4           1.7           1
21               22           5.1           1.5           1
22               23           4.6           1.0           1
23               24           5.1           1.7           1
24               25           4.8           1.9           1
25               26           5.0           1.6           1
26               27           5.0           1.6           1
27               28           5.2           1.5           1
28               29           5.2           1.4           1
29               30           4.7           1.6           1
30               31           4.8           1.6           1
31               32           5.4           1.5           1
32               33           5.2           1.5           1
33               34           5.5           1.4           1
34               35           4.9           1.5           1
35               36           5.0           1.2           1
36               37           5.5           1.3           1
37               38           4.9           1.4           1
38               39           4.4           1.3           1
39               40           5.1           1.5           1
40               41           5.0           1.3           1
41               42           4.5           1.3           1
42               43           4.4           1.3           1
43               44           5.0           1.6           1
44               45           5.1           1.9           1
45               46           4.8           1.4           1
46               47           5.1           1.6           1
47               48           4.6           1.4           1
48               49           5.3           1.5           1
49               50           5.0           1.4           1
50               51           7.0           4.7           2
51               52           6.4           4.5           2
52               53           6.9           4.9           2
53               54           5.5           4.0           2
54               55           6.5           4.6           2
55               56           5.7           4.5           2
56               57           6.3           4.7           2
57               58           4.9           3.3           2
58               59           6.6           4.6           2
59               60           5.2           3.9           2
60               61           5.0           3.5           2
61               62           5.9           4.2           2
62               63           6.0           4.0           2
63               64           6.1           4.7           2
64               65           5.6           3.6           2
65               66           6.7           4.4           2
66               67           5.6           4.5           2
67               68           5.8           4.1           2
68               69           6.2           4.5           2
69               70           5.6           3.9           2
70               71           5.9           4.8           2
71               72           6.1           4.0           2
72               73           6.3           4.9           2
73               74           6.1           4.7           2
74               75           6.4           4.3           2
75               76           6.6           4.4           2
76               77           6.8           4.8           2
77               78           6.7           5.0           2
78               79           6.0           4.5           2
79               80           5.7           3.5           2
80               81           5.5           3.8           2
81               82           5.5           3.7           2
82               83           5.8           3.9           2
83               84           6.0           5.1           2
84               85           5.4           4.5           2
85               86           6.0           4.5           2
86               87           6.7           4.7           2
87               88           6.3           4.4           2
88               89           5.6           4.1           2
89               90           5.5           4.0           2
90               91           5.5           4.4           2
91               92           6.1           4.6           2
92               93           5.8           4.0           2
93               94           5.0           3.3           2
94               95           5.6           4.2           2
95               96           5.7           4.2           2
96               97           5.7           4.2           2
97               98           6.2           4.3           2
98               99           5.1           3.0           2
99              100           5.7           4.1           2
100             101           6.3           6.0           3
101             102           5.8           5.1           3
102             103           7.1           5.9           3
103             104           6.3           5.6           3
104             105           6.5           5.8           3
105             106           7.6           6.6           3
106             107           4.9           4.5           3
107             108           7.3           6.3           3
108             109           6.7           5.8           3
109             110           7.2           6.1           3
110             111           6.5           5.1           3
111             112           6.4           5.3           3
112             113           6.8           5.5           3
113             114           5.7           5.0           3
114             115           5.8           5.1           3
115             116           6.4           5.3           3
116             117           6.5           5.5           3
117             118           7.7           6.7           3
118             119           7.7           6.9           3
119             120           6.0           5.0           3
120             121           6.9           5.7           3
121             122           5.6           4.9           3
122             123           7.7           6.7           3
123             124           6.3           4.9           3
124             125           6.7           5.7           3
125             126           7.2           6.0           3
126             127           6.2           4.8           3
127             128           6.1           4.9           3
128             129           6.4           5.6           3
129             130           7.2           5.8           3
130             131           7.4           6.1           3
131             132           7.9           6.4           3
132             133           6.4           5.6           3
133             134           6.3           5.1           3
134             135           6.1           5.6           3
135             136           7.7           6.1           3
136             137           6.3           5.6           3
137             138           6.4           5.5           3
138             139           6.0           4.8           3
139             140           6.9           5.4           3
140             141           6.7           5.6           3
141             142           6.9           5.1           3
142             143           5.8           5.1           3
143             144           6.8           5.9           3
144             145           6.7           5.7           3
145             146           6.7           5.2           3
146             147           6.3           5.0           3
147             148           6.5           5.2           3
148             149           6.2           5.4           3
149             150           5.9           5.1           3

## Using Titanic Dataset

1). Use the function defined in acquire.py to load the Titanic data.

In [18]:
titanic = get_titanic_data()
titanic.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [19]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    891 non-null    int64
 1   passenger_id  891 non-null    int64
 2   survived      891 non-null    int64
 3   pclass        891 non-null    int64
 4   sex           891 non-null    object
 5   age           714 non-null    float64
 6   sibsp         891 non-null    int64
 7   parch         891 non-null    int64
 8   fare          891 non-null    float64
 9   embarked      889 non-null    object
 10  class         891 non-null    object
 11  deck          203 non-null    object
 12  embark_town   889 non-null    object
 13  alone         891 non-null    int64
dtypes: float64(2), int64(7), object(5)
memory usage: 97.6+ KB

2). Drop any unnecessary, unhelpful, or duplicated columns.

In [54]:
# Drop unnecessary cols

titanic_shrinked_cols = titanic.drop(columns=['age','embarked','passenger_id','class', 'Unnamed: 0'])
titanic_shrinked_cols

,survived,pclass,sex,sibsp,parch,fare,deck,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,1,0,7.2500,NaN,Southampton,0,1,0,1
1,1,1,female,1,0,71.2833,C,Cherbourg,0,0,0,0
2,1,3,female,0,0,7.9250,NaN,Southampton,1,0,0,1
3,1,1,female,1,0,53.1000,C,Southampton,0,0,0,1
4,0,3,male,0,0,8.0500,NaN,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,13.0000,NaN,Southampton,1,1,0,1
887,1,1,female,0,0,30.0000,B,Southampton,1,0,0,1
888,0,3,female,1,2,23.4500,NaN,Southampton,0,0,0,1
889,1,1,male,0,0,30.0000,C,Cherbourg,1,1,0,0
890,0,3,male,0,0,7.7500,NaN,Queenstown,1,1,1,0

In [55]:
# Drop Duplicates 

titanic_shrinked_no_duplicates = titanic_drop_cols.drop_duplicates()
stripped_titanic  = titanic_shrinked_no_duplicates
stripped_titanic.head()

,Unnamed: 0,survived,pclass,sex,sibsp,parch,fare,deck,embark_town,alone
0,0,0,3,male,1,0,7.2500,NaN,Southampton,0
1,1,1,1,female,1,0,71.2833,C,Cherbourg,0
2,2,1,3,female,0,0,7.9250,NaN,Southampton,1
3,3,1,1,female,1,0,53.1000,C,Southampton,0
4,4,0,3,male,0,0,8.0500,NaN,Southampton,1

3). Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [56]:
cat_cols_titanic = [col for col in stripped_titanic.columns if stripped_titanic[col].dtype  == 'O']
cat_cols_titanic

['sex', 'deck', 'embark_town']

In [57]:
titanic[cat_cols_titanic].value_counts()

sex     deck  embark_town
male    C     Southampton    21
        E     Southampton    16
female  C     Southampton    15
        B     Southampton    13
              Cherbourg      12
        C     Cherbourg      11
male    D     Southampton    10
female  E     Southampton    10
male    C     Cherbourg      10
        B     Cherbourg      10
              Southampton    10
female  D     Southampton    10
              Cherbourg       8
male    A     Southampton     8
        F     Southampton     7
        A     Cherbourg       6
        D     Cherbourg       5
female  G     Southampton     4
        F     Southampton     4
        E     Cherbourg       4
male    C     Queenstown      1
female  F     Cherbourg       1
        E     Queenstown      1
male    E     Cherbourg       1
female  C     Queenstown      1
male    F     Queenstown      1
female  A     Cherbourg       1
dtype: int64

In [58]:
# Drop nulls and normalize (stripped data)

for col in cat_cols_titanic:
    
    normalized_titanic = (titanic[col].value_counts(normalize = True, dropna = False))

    print(normalized_titanic)

male      0.647587
female    0.352413
Name: sex, dtype: float64
NaN    0.772166
C      0.066218
B      0.052750
D      0.037037
E      0.035915
A      0.016835
F      0.014590
G      0.004489
Name: deck, dtype: float64
Southampton    0.722783
Cherbourg      0.188552
Queenstown     0.086420
NaN            0.002245
Name: embark_town, dtype: float64

In [59]:
# Dummy Data

dummy_titanic = pd.get_dummies(titanic[['sex', 'embark_town']], dummy_na = False, drop_first = [True, True])
dummy_titanic

     sex_male  embark_town_Queenstown  embark_town_Southampton
0           1                       0                        1
1           0                       0                        0
2           0                       0                        1
3           0                       0                        1
4           1                       0                        1
..        ...                     ...                      ...
886         1                       0                        1
887         0                       0                        1
888         0                       0                        1
889         1                       0                        0
890         1                       1                        0

[891 rows x 3 columns]

In [60]:
# Concat Data

titanic = pd.concat([titanic, dummy_titanic], axis = 1)
titanic

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0,1,0,1,1,0,1
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0,0,0,0,0,0,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1,0,0,1,0,0,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0,0,0,1,0,0,1
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1,1,0,1,1,0,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1,0,0,1,0,0,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0,0,0,1,0,0,1
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1,1,0,0,1,0,0
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1,1,1,0,1,1,0

4). Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [64]:
row_titanic = acquire.get_titanic_data()


def prep_titanic(row_titanic):
    titanic_df = row_titanic.drop_duplicates()
    
    titanic_df = titanic_df.drop(columns = ['deck', 'embarked', 'class', 'age', 'Unnamed: 0'])
        
    titanic_df['embark_town'] = titanic_df.embark_town.fillna(value = 'Southampton')
    
    dummy_titanic = pd.get_dummies(titanic_df[['sex', 'embark_town']], drop_first = [True, True])
    
    titanic = pd.concat([dummy_titanic, titanic_df], axis = 1)
    
    return titanic.drop(columns = ['sex', 'embark_town'])
    
cleaned_titan_data = prep_titanic(row_titanic)
cleaned_titan_data

,sex_male,embark_town_Queenstown,embark_town_Southampton,passenger_id,survived,pclass,sibsp,parch,fare,alone
0,1,0,1,0,0,3,1,0,7.2500,0
1,0,0,0,1,1,1,1,0,71.2833,0
2,0,0,1,2,1,3,0,0,7.9250,1
3,0,0,1,3,1,1,1,0,53.1000,0
4,1,0,1,4,0,3,0,0,8.0500,1
...,...,...,...,...,...,...,...,...,...,...
886,1,0,1,886,0,2,0,0,13.0000,1
887,0,0,1,887,1,1,0,0,30.0000,1
888,0,0,1,888,0,3,1,2,23.4500,0
889,1,0,0,889,1,1,0,0,30.0000,1
890,1,1,0,890,0,3,0,0,7.7500,1

## Using Telco Dataset

1). Use the function defined in acquire.py to load the Telco data.

In [2]:
telco = get_telco_data()
telco.head()

,Unnamed: 0,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,1,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,2,1,1,2,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

2). Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [8]:
# Check Null Values
telco.isnull().sum()

payment_type_id             0
contract_type_id            0
internet_service_type_id    0
customer_id                 0
gender                      0
senior_citizen              0
partner                     0
dependents                  0
tenure                      0
phone_service               0
multiple_lines              0
monthly_charges             0
total_charges               0
churn                       0
internet_service_type       0
contract_type               0
payment_type                0
dtype: int64

In [3]:
strip_telco = telco.drop_duplicates()

drop_cols_telco = ['Unnamed: 0', 'tech_support', 'streaming_tv', 'paperless_billing', 
                   'streaming_movies', 'device_protection', 'online_backup', 'online_security']

stripped_telco = strip_telco.drop(columns = (drop_cols_telco))
telco = stripped_telco 
telco

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,65.60,593.3,No,DSL,One year,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,59.90,542.4,No,DSL,Month-to-month,Mailed check
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,73.90,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,98.00,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,83.90,267.4,Yes,Fiber optic,Month-to-month,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,2,1,9987-LUTYD,Female,0,No,No,13,Yes,No,55.15,742.9,No,DSL,One year,Mailed check
7039,1,1,2,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,85.10,1873.7,Yes,Fiber optic,Month-to-month,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,No,50.30,92.75,No,DSL,Month-to-month,Mailed check
7041,2,3,1,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,67.85,4627.65,No,DSL,Two year,Mailed check
7042,1,3,1,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,59.00,3707.6,No,DSL,Two year,Electronic check

3). Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [9]:
# Get Categorical Data/ Cols

cat_telco = [col for col in telco.columns if telco[col].dtype == 'O']
cat_telco

['customer_id',
 'gender',
 'partner',
 'dependents',
 'phone_service',
 'multiple_lines',
 'total_charges',
 'churn',
 'internet_service_type',
 'contract_type',
 'payment_type']

In [11]:
# Check all columns Infomation in categorical data

for col in cat_telco:
    
    print(telco[col].value_counts())
    
    print(telco[col].value_counts(normalize = True, dropna = False))

0002-ORFBO    1
6616-AALSR    1
6625-UTXEW    1
6625-IUTTT    1
6625-FLENO    1
             ..
3352-RICWQ    1
3352-ALMCK    1
3351-NQLDI    1
3351-NGXYI    1
9995-HOTOH    1
Name: customer_id, Length: 7043, dtype: int64
0002-ORFBO    0.000142
6616-AALSR    0.000142
6625-UTXEW    0.000142
6625-IUTTT    0.000142
6625-FLENO    0.000142
                ...
3352-RICWQ    0.000142
3352-ALMCK    0.000142
3351-NQLDI    0.000142
3351-NGXYI    0.000142
9995-HOTOH    0.000142
Name: customer_id, Length: 7043, dtype: float64
Male      3555
Female    3488
Name: gender, dtype: int64
Male      0.504756
Female    0.495244
Name: gender, dtype: float64
No     3641
Yes    3402
Name: partner, dtype: int64
No     0.516967
Yes    0.483033
Name: partner, dtype: float64
No     4933
Yes    2110
Name: dependents, dtype: int64
No     0.700412
Yes    0.299588
Name: dependents, dtype: float64
Yes    6361
No      682
Name: phone_service, dtype: int64
Yes    0.903166
No     0.096834
Name: phone_service, dtype: float64
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
No                  0.481329
Yes                 0.421837
No phone service    0.096834
Name: multiple_lines, dtype: float64
           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64
           0.001562
20.2       0.001562
19.75      0.001278
19.9       0.001136
20.05      0.001136
             ...
2387.75    0.000142
6302.8     0.000142
2058.5     0.000142
829.55     0.000142
3707.6     0.000142
Name: total_charges, Length: 6531, dtype: float64
No     5174
Yes    1869
Name: churn, dtype: int64
No     0.73463
Yes    0.26537
Name: churn, dtype: float64
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
Fiber optic    0.439585
DSL            0.343746
None           0.216669
Name: internet_service_type, dtype: float64
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
Month-to-month    0.550192
Two year          0.240664
One year          0.209144
Name: contract_type, dtype: float64
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64
Electronic check             0.335794
Mailed check                 0.228880
Bank transfer (automatic)    0.219225
Credit card (automatic)      0.216101
Name: payment_type, dtype: float64

In [14]:
# Encoding 

dummy_telco = pd.get_dummies(telco[['churn','internet_service_type','payment_type']], 
                             dummy_na = False, drop_first = [True, True, True])


dummy_telco

,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,0,0,0,0,1
1,0,0,0,0,0,1
2,1,1,0,0,1,0
3,1,1,0,0,1,0
4,1,1,0,0,0,1
...,...,...,...,...,...,...
7038,0,0,0,0,0,1
7039,1,1,0,0,1,0
7040,0,0,0,0,0,1
7041,0,0,0,0,0,1
7042,0,0,0,0,1,0

In [15]:
# Concat Data

telco = pd.concat([telco, dummy_telco], axis = 1)

telco

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,churn,internet_service_type,contract_type,payment_type,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,No,DSL,One year,Mailed check,0,0,0,0,0,1
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,DSL,Month-to-month,Mailed check,0,0,0,0,0,1
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,...,Yes,Fiber optic,Month-to-month,Electronic check,1,1,0,0,1,0
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,...,Yes,Fiber optic,Month-to-month,Electronic check,1,1,0,0,1,0
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Fiber optic,Month-to-month,Mailed check,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,2,1,9987-LUTYD,Female,0,No,No,13,Yes,...,No,DSL,One year,Mailed check,0,0,0,0,0,1
7039,1,1,2,9992-RRAMN,Male,0,Yes,No,22,Yes,...,Yes,Fiber optic,Month-to-month,Electronic check,1,1,0,0,1,0
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,DSL,Month-to-month,Mailed check,0,0,0,0,0,1
7041,2,3,1,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,No,DSL,Two year,Mailed check,0,0,0,0,0,1
7042,1,3,1,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,DSL,Two year,Electronic check,0,0,0,0,1,0

4). Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [17]:
# Clean data function

telco_data = acquire.get_telco_data()


def prep_telco(telco_data):
    
    t_df = telco_data.drop_duplicates()
    
    t_df = t_df.drop(columns = ['Unnamed: 0', 'tech_support', 'streaming_tv', 'paperless_billing', 
                   'streaming_movies', 'device_protection', 'online_backup', 'online_security'])
    
    dummy_telco_data = pd.get_dummies(t_df[['churn','internet_service_type','payment_type']], 
                                      drop_first = [True, True, True])
    
    t_df = pd.concat([t_df, dummy_telco_data], axis = 1)
    
    return t_df.drop(columns = ['churn','internet_service_type','payment_type'])

In [19]:
telco_clean = prep_telco(telco_data)
telco_clean

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,monthly_charges,total_charges,contract_type,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,65.60,593.3,One year,0,0,0,0,0,1
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,59.90,542.4,Month-to-month,0,0,0,0,0,1
2,1,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,73.90,280.85,Month-to-month,1,1,0,0,1,0
3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,98.00,1237.85,Month-to-month,1,1,0,0,1,0
4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,83.90,267.4,Month-to-month,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,2,1,9987-LUTYD,Female,0,No,No,13,Yes,No,55.15,742.9,One year,0,0,0,0,0,1
7039,1,1,2,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,85.10,1873.7,Month-to-month,1,1,0,0,1,0
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,No,50.30,92.75,Month-to-month,0,0,0,0,0,1
7041,2,3,1,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,67.85,4627.65,Two year,0,0,0,0,0,1
7042,1,3,1,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,59.00,3707.6,Two year,0,0,0,0,1,0