# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

1. What is the highest amount of netflix consumption? `17.535`
2. How many people wear glasses? What percentage of people is this? `2555`, `.511`
3. How many people's favorite animal is a dog? `1002`
4. What is the most common favorite animal? `lemur`
5. What is the average netflix consumption for people that prefer brussel sprouts? `10.008`
6. What is the most common favorite fruit for people who wear glasses and have more than 40 open browser tabs? `blueberries`

In [2]:
df

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs
0,lemur,potato,apple,yes,8.313351,44
1,panda,potato,apple,yes,11.801073,10
2,cat,squash,blueberries,yes,10.105141,35
3,lemur,squash,apple,no,11.024605,70
4,dog,brussel sprouts,apple,yes,6.732698,73
...,...,...,...,...,...,...
4995,frog,potato,blueberries,yes,9.992337,59
4996,frog,potato,apple,yes,8.916902,46
4997,lemur,squash,banana,no,7.317019,70
4998,lemur,squash,blueberries,yes,12.720892,50
4999,dog,potato,banana,yes,12.890119,53

In [4]:
# Highest netflix consumption
round(df.netflix_consumption.max(), 3)

17.535

In [29]:
#. Count pple wearing glasses

(df.wears_glasses =='yes').sum(), (df.wears_glasses =='yes').mean()

(2555, 0.511)

In [9]:
% wears glasses 
((df.wears_glasses[df.wears_glasses =='yes'].count()) / (df.wears_glasses.count())) * 100

UsageError: Line magic function `%` not found.

In [13]:
# Fav meal dog

df[df.favorite_animal == 'dog'].favorite_animal.count()

1002

In [34]:
# Most common animal

df.favorite_animal.value_counts()

lemur    1028
frog     1015
dog      1002
cat       980
panda     975
Name: favorite_animal, dtype: int64

In [37]:
#. avg netflix consumption for pple that prefers brussels sprouts

df[df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366